body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
}

.login-btn {
    display: inline-block;
    color: #057b3a;
    transition: color 0.5;
}

.login-btn:hover {
    color: #495296;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.logout-btn {
    padding: 10px 15px;
    color: rgb(249, 215, 215);
    border-radius: 5px;
}

#chat-window {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 20px auto;
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#chat-form {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
}