.logout-btn {
    /* padding: 10px 15px;
    color: rgb(249, 215, 215);
    border-radius: 5px; */
    padding: 10px 15px;
    background-color: #5868f2;
    color: #ffffff;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3 ease, transform 0.2 ease;
}

.logout-btn:hover{
    background-color: #4752c4;
    transform: scale(1.05);
}

.chat-container {
    /* width: 100%;
    max-width: 500px;
    height: 90%;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; */
    width: 100%;
    max-width: 600px;
    height:  90%;
    background-color: #2c2f33;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 24px rgba(0,0,0,0.2);
    overflow: hidden;
    border: 1px solid #202225;
}

.messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: #23272a;
}

.message {
    display: flex;
    flex-direction: column;
    margin:10px 0;
    max-width: 75%;
}

.message.sent {
    align-self: flex-end;
    background-color: #5865f2;
    color:#ffffff;
    border-radius: 16px 16px 0 16px;
    padding: 12px 16px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.message.receive {
    align-self: flex-start;
    background-color: #40444b;
    color:#ffffff;
    border-radius: 16px 16px 0 16px;
    padding: 12px 16px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);

}

.timestamp {
    font-size: 0.75rem;
    margin-top: 4px;
    color: #8e8e93;
    text-align: right;
}

.message-input-container {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #2c2f33;
    border-top: 1px solid #202225;
}

.message-input-container input{
    flex: 1;
    padding: 10x;
    border: none;
    border-radius: 8px;
    background-color: #40444b;
    color: #ffffff;
    outline: none;
    font-size: 1rem;
}

.message-input-container input:placeholder{
    color: #b9bbbe
}

.message-input-container button {
 margin-left: 10px;
 background-color: #5865f2;
 color: #ffffff;
 border: none;
 border-radius: 8px;
 padding: 10px 15px;
 font-weight: bold;
 cursor: pointer;
 transition: background-color 0.3s ease, transform 0.2s ease;
}

.message-input-container button:hover{
    background-color: #4752c4;
    transform: scale(1.05);
}
