<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chit Chat - Chat</title>
    <link rel="stylesheet" href='{{ url_for( 'static', filename = "css/styles.css")}}'>
    <script src='{{ url_for( 'static', filename = "js/chat.js")}}' defer></script>
</head>
<body>
    <header>
        <h1>Welcome, {{ user_name }}!</h1>
        <a href='{{ url_for('logout')}}' class='logout-btn'>Logout</a>
    </header>
    <div id = 'chat-window'></div>
    <form id='chat-form'>
        <input type='text' id='message' placeholder='Type your message...'>
        <button type='submit'> Send </button>
    </form>
</body>
</html>