<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chit Chat - Login</title>
    <link rel="stylesheet" href={{ url_for( 'static', filename = "css/styles.css")}}>
</head>
<body>
    <section class='login'>
        <h1>Welcome to ChitChat!</h1>
        <p>Login to join the conversation!</p>
        <a href='{{ url_for('login')}}' class='login-btn'>Login with Google</a>
    </section>
</body>
</html>