<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chit Chat - Chat</title>
    <link rel="stylesheet" href='{{ url_for( 'static', filename = "css/chat.css")}}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <h1>Welcome, {{ user_name }}!</h1>
        <a href='{{ url_for('main.logout')}}' class='logout-btn'>Logout</a>
    </header>
    <div class="chat-container">
        <div class="messages"></div>
        <div class='message-input-container'>
            <input type='text' class='message-input' placeholder='Type a message...' autocomplete='off'>
            <button class='send-button'> Send </button>
        </div>
      </div>
      <script src='{{ url_for( 'static', filename = "js/chat.js")}}' defer></script>
</body>
</html>